 @media screen and (max-width: 992px){
	
	#contact img{
		display:none;
	}
}

@media screen and (max-width: 2000px){

#portfolio{
		height: auto;
		margin-bottom: 50px;
	}
}

@media screen and (min-height: 0px) and (min-width: 700px){
	#about:before{
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	#culture:before{
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

@media screen and (min-height: 0px) and (min-width: 800px){
	#portfolio:before{
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

@media screen and (max-height: 600px){
	#about{
		height: auto;
	}

	#culture{
		height: auto;
	}

	.glyphicon{
		display:none;
	}
}