@media screen and (min-width: 0px) and (max-height: : 800px) {

	#top-section{
		//background-color: red;
		//height:800px;
	}

	
}

@media screen and (max-width: 992px){
	#portfolio{
		height: auto;
		margin-bottom: 50px;
	}
	#contact img{
		display:none;
	}
}

@media screen and (min-height: 0px) and (min-width: 700px){
	#about{
		//background-color: red;
		//height: 600px;
	}

	#about:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
	#culture{
		//background-color: red;
		//height: 600px;
	}

	#culture:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
}

@media screen and (min-height: 0px) and (min-width: 800px){

	#portfolio{
		//background-color: red;
		//height: 600px;
	}

	#portfolio:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
}

@media screen and (max-height: 600px){
	#top-section{
	//background-color: blue;
	//	height:800px;
	}

	#about{
		//background-color: blue;
		height: auto;
	}

	#culture{
		//background-color: blue;
		height: auto;
	}

	.glyphicon{
		display:none;
	}
}

@media screen and (min-height: 0px) and (min-width: 700px){

}

/*@media screen and (min-width: 700px){
	

#Web:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#learning:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

	#Web2:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;


}

#Web3:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
}*/

@media screen and (max-width: 800px){
	/*#about{
		height: 800px;
	}
	#Web{
		padding-top: 50px;
	}

	#Web2{
		padding-top: 50px;
	}

	#Web3{
		padding-top: 50px;
	}

	#learning{
		padding-top: 50px;
	}*/
}